---
layout: default
pagination: 
  enabled: true
---

<div class="home">
  <!-- Canvas for Animation -->
  <div class="site-header-container {% if site.cover %}has-cover{% endif %}">
    <canvas id="visualizationCanvas_neuralNet" width="100%" height="100%"></canvas>
  </div>
<script src="{{ 'js/neural_network.js' | relative_url }}"></script>

  
<div id="animation-container">
  <canvas id="visualizationCanvas_sphere"></canvas>
</div>
<script src="{{ 'js/sphere.js' | relative_url }}"></script>

  
<div class="wrapper">
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>

    </section>
  </li>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</ul>
</div>

</div>	
