<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}
    
 <!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=18825369&style=0038&nbdigits=7&type=page&initCount=0" title="Counter Widget" Alt="Visit counter For Websites"   border="0" /></a> 


  <!-- Mermaid support -->
<script src="https://unpkg.com/mermaid@10/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({
    startOnLoad: true,
    theme: "default"
  });
</script>


  </body>

</html>
